
<div class="container-fluid text-center">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form class="example-form text-center form-control" #quoteForm='ngForm' (ngSubmit)='submitQuote()'>
      <div class="">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Your Name</mat-label>
          <input matInput placeholder="Ex. Viona Osiako" id="WriterName" [(ngModel)]="newQuote.nameWriter" name="nameWriter" #name='ngModel' required>
          
        </mat-form-field>
        <div>
          Display:{{newQuote.nameWriter}}
        </div>

        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Name is required</p>
        </div> -->
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Autor's Name</mat-label>
          <input matInput placeholder="Ex. Viona Osiako" id="authorName" [(ngModel)]="newQuote.authorName" name="authorName" required>
        </mat-form-field>
        <div>
          Display:{{newQuote.authorName}}
        </div>
      </div>
      
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Add a new Quote</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." id="quoteContent" [(ngModel)]="newQuote.quoteContent" name="quoteContent" required></textarea>
        </mat-form-field>
        <div>
          Display:{{newQuote.quoteContent}}
        </div>
      </div> 
      
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Select Date</mat-label>
          <input matInput id="date" [(ngModel)]="newQuote.completeDate" name="date" type="date" required>
        </mat-form-field>

        <div>
          Display:{{newQuote.completeDate|date}}
        </div>
      </div>
      
      <div class="btn">
        <button mat-raised-button class="btnAddQuote">Add Quote</button>

        <button mat-fab class="btnDElete" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
        </div>
                
      </form>
      
  </div>

  <br>
