.aboutUsPage{
    background-image: url(../../assets/homebg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}

.aboutUsContanet{
    text-align: center;
    font-size: large;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}
@media screen and(max-width:1053px){
    
    
}