<div class="row bg">
    <div class="col-lg-6">
        <h2 class="text-center">Find the Quotes</h2>
        
        <div  class="showQuote text-center">
            
            <ul *ngFor="let quoteQuation of quotes; let i = index">
                <div *ngIf="highest()===quoteQuation.upvote && quoteQuation.upvote>0;then highlight else empty">                    
                </div>

                <ng-template #highlight>
                    <li appHighlight>
                        <span>{{  quoteQuation.quoteContent }}</span>              
                        <app-quote-rating (isDeleted)="deleteBtn($event,i)"[quotes]="quoteQuation"></app-quote-rating>
                    </li>
                </ng-template>

                <ng-template #empty>
                    <li>
                        <span>{{  quoteQuation.quoteContent }}</span>              
                        <app-quote-rating (isDeleted)="deleteBtn($event,i)" [quotes]="quoteQuation"></app-quote-rating>
                    </li>
                </ng-template>


            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <app-generate-quote (addQuote)="addNewQuote($event)"></app-generate-quote>
    </div>
</div>
