.insideQuote{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.deleteBtn{
    background-color: #4BB543;
}

.showQuote{
    font-size: large;
}

.authorName{
    font-style: italic;
    font-size: medium;
}

.dateCreated{
    list-style: none;
}